a{background: #eef4ef;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #ace1bc;
}
a.active{
    background-color: #00f94b;
}
.box-shadow{
    box-shadow: 1px -4px 6px 2px #32be3f;
}
.width{
    min-width: 500px;
}